# The Basic Elements of Python

Print the following to your terminal
> print('Helo World!')

> print('I love Football')

> print('BOG is the best bank in GH!')

In [1]:
# Print Here

print('Hello World')

Hello World

In [2]:
# Print Here

print('I love CBG')

I love CBG

In [3]:
# Print Here

print('A snack break!')

A snack break!

# Objects, Expressions, and Numerical

Objects are the core things that Python programs manipulate. Everything in Python is an **object**.

Python has four types of scalar objects:
- int: is used to represent integers. Literals of type int are written in the way we 
typically denote integers (e.g., -3 or 5 or 10002)
- float: is used to represent real numbers. Literals of type float always include a 
decimal point (e.g., 3.0 or 3.1,7 or -28.72)
- bool: is used to represent the Boolean values True and False.
- None: is a type with a single value.


Objects and operators are combined to form `expression`, each of which evaluates to an object of some type i.e. the **value** of the expression.at.at...

In [4]:
# Add any two integers of your choice

3+5

8

In [5]:
# Add any two integers of your choice

(5+9)*2

28

In [6]:
# Add any 3 floats of your choice

5.333 + 90

95.333

The `==` operator is used to test whether two expressions evaluate to the same
value, and the`!=`= operator is used to test whether two expressions evaluate to differen 
value

**A single `=` means something quite different** s.

In [7]:
# Check whether 5 is EXACTLY EQUAL TO 5

3 == 3

True

In [10]:
# Check whether 3 and 3.01 are equak

3 == 3.01

False

In [11]:
# Check whether 3 is NOT EQUAL TO 3

3 != 3

False

In [12]:
# Check whether 1 + 2 is LESS THANK or EQUAL TO  3 + 4

1 + 2 <= 3+4

True

> You can use the *type* built-in function to find out the type of an object

In [ ]:
# Check the type for 8.3

In [ ]:
# Check the type for 84500

In [ ]:
# Check the type for 8.0

In [ ]:
# Check the type for 84500.0

## Mathematical Operations in Python


| Syntax      | Description |
| ----------- | ----------- |
| a + b | Sum of a and b |
| a - b   | Difference between a and b        |
| a * b | The product of a and b|
| a / b   | Quotient of a and b        |
| a // b   | floored quotient of a and b        |
| a % b   | remainder of a and b        |
| - a   | a negated a        |
| abs(a)   | absolute value of a        |
| int(a)   | a converted integer        |
| float(a)   | a converted floating point number        |
| a ** b | a to the power of b |
| pow(a,b) | a to the power of b |

In [ ]:
# Performing Mathematical Operations with Python

In [ ]:
# Performing Mathematical Operations with Python

Primitive operators on type bool are `and`, `or` and `not`:
- a and b is True if BOTH a and b are True, and False otherwise
- a or b is True if at least one of a or b is True and False otherwise
- not a is True if a is False and False if a is True

In [13]:
# Exercises on Boolean Operators


(1 + 2) <= (2 + 7) and (3 + 6) >= (2 + 7)

True

In [14]:
# Exercises on Boolean Operators

(1 + 2) <= (2 + 7) and (3 + 6) > (2 + 7)

False

In [15]:
# Exercises on Boolean Operators

(1 + 2) <= (2 + 7) or (3 + 6) > (2 + 7)

True

In [20]:
# Exercises on Boolean Operators

(1 + 2) <= (2 + 7) and (3 + 6) > (2 + 7) or (10 + 20) <= (3 + 2)

False

In [19]:
# Exercises on Boolean Operators

not ((1 + 2 ) == 5)

True

# Variables and Assignment

Variables provide a way to associate names with Objects.

Consider the ff code:
```python
interest_rate = 0.45
loan = 10 000
annual_interest = interest_rate * loan

loan = 20 000
```


The first code binds the names `interst_rate` and `loan` to the float and int types. It then binds the name `annual_interest` to the third object of type `float`.


In Python, *a variable is just a name, nothing more*. An assignment statement associates the name on the left of the `=` symbol with the object denoted by the expression to the right of the symbol.
> Names Matter!

In [25]:
# Assigning names to the resulting value of an expression
interest_rate = 0.45
loan = 10_000
annual_interest = interest_rate * loan

print(interest_rate)
print(loan)
print(annual_interest)

0.45
10000
4500.0

In [28]:
# Assigning names to the resulting value of an expression
# Previous rate
# interest_rate = 0.45
loan = 10_000
interest_rate = 0.50
annual_interest = interest_rate * loan

print(interest_rate)
print(annual_interest)
print(interest_rate)

0.5
5000.0
0.5

In [ ]:
# Assigning names to the resulting value of an expression

In [ ]:
# Assigning names to the resulting value of an expression

In [ ]:
# Assigning names to the resulting value of an expression

# Strings and Input

Objects of type str (like we printed at the start of this notebook) are used to represent characters.

String literals can be written using either single or double quotes e.g. `'National Banking College'` and `"National Banking College"`. 

Lets test the following in the next cells:
```python
`BOG`
3*2
3*`a`
3+4
`a` + `a`
'NBC' + 'NBC'
'NBC' * 'NBC'
```

In [35]:
# Test the code above
class_president = 'Joseph\'s'
# class_president = "Joseph's"

age = 35

print(class_president, 'is', age, 'years old', sep='---')

Joseph's---is---35---years old

In [30]:
print?

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [ ]:
# Test the code above

In [ ]:
# Test the code above

In [ ]:
# Test the code above

In [ ]:
# Test the code above

## Properties of Strings

- Length: This can be used to find the length of a string. For example, the value of `len('abc')` is `3`.
- Indexing: can be used to extract individual characters from a string. `In Python, all indexing is zero-based.`
- Slicing: is used to extract substring for arbitrary length. If s is a string, the expression `s[start:end]` denotes the substring of s that starts from index start and ends at index end-1.

In [36]:
# Exercise of String Length

vice_president = 'Awuah'

len(vice_president)

5

In [37]:
# Slicing the string

print(vice_president[0])

A

In [38]:
# Slicing the string

print(vice_president[1])

w

In [39]:
# Slicing the string

print(vice_president[2])

u

In [40]:
# Slicing the string

print(vice_president[3])

a

In [41]:
# Slicing the string

print(vice_president[4])

h

In [43]:
# Slicing the string

print(vice_president[0:2])

Aw

In [ ]:
# Exercise on String Slicing

In [ ]:
# Exercise on String Slicing

In [ ]:
# Exercise on String Slicing

In [ ]:
# Exercise on String Slicing

## Using f-strings

An f-string consists of the character f (or F) following by a special kind
of string literal called a formatted string literal. Formatted string literals contain
both sequences of characters (like other string literals) and expressions bracketed
by curly braces. These expressions are evaluated at runtime and automatically
converted to strings.

In [67]:
# Example on f-strings
loan = 10_000
interest_rate = 0.50



print(f"Your loan is GHC {loan:,} and interest rate is {interest_rate}%. Your annual interest payment is {loan * interest_rate:.2f}")
# print(f'Your loan is {loan} and interest rate is {interest_rate}. Your annual interest rate is {loan * interest_rate}')

Your loan is GHC 10,000 and interest rate is 0.5%. Your annual interest payment is 5000.00

In [ ]:
# Example on f-strings

In [ ]:
# Example on f-strings

# Input and some String Methods

The input function can be used to get input directly from the user. The inpute function takes a string as an argument and displays it as a prompt in a shell.

The function then waits for the user to typee something and press the entoer key. The line typed by the user is treated as string and becomes the valuereturned by the input function.

In [72]:
# Execute the input function to prompt the user to enter their name and print out 'Are you really <insert_name>?

momo_pin = input('Please enter your MOMO Pin:')

print(f'Your MOMO Pin is {momo_pin}!')

Please enter your MOMO Pin: 5458

Your MOMO Pin is 5458!

In [ ]:
# Check the type of object returned by an input function

In [ ]:
# Lets find out what methods are associated with a string object using dir