# Pandas Data Structures

One of the keys to understanding pandas is to understand the data model. At the core of pandas 
are two data structures. The most widel  used data structures are the Series and the DataFrame fo 
dealing with array data and tabular dat


|Data Structure | Dimensionality | Spreadsheet Analog | Database Analog|
|---------------|----------------|--------------------|--------------|
| Series | 1D | Column | Column/Field |
| DataFrame | 2D | Single Sheet | Table |


An analogy with the spreadsheet world illustrates the basic differences between these types. A `
DataFram`e is similar to a sheet with rows and columns, while a` Serie`s is similar to a single column
of data (when we refer to a column of data in this text, we are referring to a Series


`Some have compared the data structures to Python lists or  dictionaries. I think this is a 
stretch that doesn’t provide much benefit. Mapping the list and dictionary methods on top o 
pandas’ data structures just leads to confusion.`).a.

## DataFrames


Dataframes can be created from:
- columns (dictionary of lists)
- rows (list of dicts)
- CSV files (pd.read_csv)
- other: SQL



```python
# Specify the file path
df_path = 'mortgagedefault.csv'

mortgage_df = pd.read_csv(filepath_or_buffer=df_path)

# The code below also works
mortgage_df = pd.read_csv(df_path)
```

In [40]:
import pandas as pd

# Loading a CSV data
df_path = 'mortgagedefault.csv'

mortgage_df = pd.read_csv(filepath_or_buffer= df_path)

## Preview Data

After the data is loaded, you can preview the data using the `.head` method on your DataFrame.



```python
mortgage.head()
```

In [41]:
# Lets preview the data

mortgage_df.head()

,Customer Number,Age,Marital Status,Annual Income ($),Mortgage Amount ($),Payments Per Year,Total Amount Paid ($),Default on Mortgage?
0,1,37,SINGLE,172125.70,473402.96,24,581885.13,YES
1,2,31,SINGLE,108571.04,300468.60,12,489320.38,NO
2,3,37,MARRIED,124136.41,330664.24,24,493541.93,YES
3,4,24,MARRIED,79614.04,230222.94,24,449682.09,YES
4,5,27,SINGLE,68087.33,282203.53,12,520581.82,NO

## Selecting Columns


To select columns in a dataframe you can

```python
mortgage_df[['Customer Number', 'Age', 'Marital Status', ' Annual Income ($) ']]
```


> To get the column names use the code below:
```python
mortgage_df.columns
```

In [ ]:
# Exercise on selecting columns

In [ ]:
# Exercise on selecting columns

In [ ]:
# Exercise on selecting columns

In [ ]:
# Exercise on selecting columns

## Math Methods on columns


Imagine your manager wants to determine the `monthly income` of all customers in your data.


How would you do this in excel?


Now lets do this in Python.

```python
# Select the 'Annual Income ($)' column 
mortgage_df[[' Annual Income ($) ']] 

# Divide the select column by 12
(mortgage_df[[' Annual Income ($) ']] / 12)

```

In [ ]:
# Examples of Performing calculations in pandas

In [ ]:
# Examples of Performing calculations in pandas with methods

In [ ]:
# Examples of Performing calculations in pandas (GHC Conversion) with methods

In [ ]:
# Examples of Performing calculations in pandas (GHC Conversion) with methods

## Adding your new columns to the dataframe


```python
mortgage_df['new_colum'] = (mortgage_df[[' Annual Income ($) ']] / 12)
```

In [ ]:
# Add the new columns created above to the  DataFrame

In [ ]:
# Add the new columns created above to the  DataFrame

In [ ]:
# Add the new columns created above to the  DataFrame

In [ ]:
# Add the new columns created above to the  DataFrame

## Describing your new DataFrame


```python
mortgage_df.describe()
```

> Bonus: Can you do this in Excel?

## Filtering your dataframe


Here we will use the `.loc` method to filter our dataframe. This is a row-wise operation.

In [ ]:
# Applying the filtering Operation

In [ ]:
# Applying the filtering Operation

In [ ]:
# Applying the filtering Operation

In [ ]:
# Applying the filtering Operation

In [ ]:
# Applying the filtering Operation

# Thank you for your time! See you soon!